.font-24 {
    font-size: 56px;
}



.site-header{
    height: 100px;
    border-radius: 6px;
}

.site-header-text{
    font-size: 42px;
    text-align: center;
    padding-top: 20px;
}



.divider{
    height: 5px;
}



.no-padding{
    padding: 0px;
}

.padding-5{
    padding: 5px;
}

.no-margin{
    margin: 0px
}



.inline-display {
    display: inline-block;
}

.align-center{
    text-align: center;
}






.panel-border-right{
    border: solid 3px white;
}

.left-panel{
    height: 400px;
    border-radius: 6px;
}

.left-panel-header{
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 12px;
    text-align: left;
    height: 50px;
    border-bottom: solid 1px white;
}

.middle-panel{
    height: 400px;
    border-radius: 6px;
}







.btn-label{
    font-size: 14px;
    font-weight: bold;
    background-color: #2E8FFF;
    color: black;    
    border-radius: 6px;
}