{% extends "base.html" %}
{% block title %}XP FARM Home{% endblock title %}
{% block body %}
<div class="jumbotron bg-dark text-white">
    <div class="container">
      <h1 class="display-3">Welcome to the XP Farm!</h1>
      <p>
            The 'community of practice' where you can collect the eXPerience to become an XP developer! We look forward to taking this eXtreme Programming journey together with you! We'll help you to become a software craftsman like thousands of other eXtreme Programmers all around the world.
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>
{% endblock body %}
